// sidebar
$sideBarWidth: 190px; //宽度

$menuHeight: 50px; //每个menu的高度

$menuBg: #0075FF; //menu默认背景色
$menuHover: hsla(213, 100%, 80%, 0.4); //鼠标经过颜色

$menuActiveBg: hsla(213, 100%, 80%, 0.4); //激活颜色
$menuText: #FFFFFF; //默认文字颜色
$menuActiveText: #FFFFFF; //menu激活时文字颜色

$subMenuBg: #0069E4;//submenu默认背景色
$subMenuHover: hsla(213, 100%, 90%, 0.2); //submenu鼠标经过颜色

$subMenuActiveText: #FFFFFF; //submenu激活时文字颜色


//tagsView
$tagsViewHover: #0075FF; //边框颜色
$tagsViewActive: #0075FF; //激活颜色

//topMenu
$topMenuActiveBorder: #0075FF;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuActiveBg: $menuActiveBg;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
